body{
    background:rgb(0, 255, 238);
    font-family: arial;
}

h1, h2 {
    color: #15025b;
}

p {
    background:green;
    color: white;
    padding: 10px;
}

.secondary {
    background:yellow;
    color:purple;
}

#superspecial {
    background: red;
    color: brown;
}